version: '3.8'

services:
  db:
    image: postgres:14.3-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    expose:
      - 5432
    volumes: 
      - db:/var/lib/postgresql/data
    restart: "unless-stopped"
  server:
    build: 
      context: .
    command: "hermeshooks server"
    ports:
      - "443:443"
      - "80:80"
    expose:
      - 443
      - 80
    environment:
      - ADDR=:8000
      - DSN=postgres://postgres:postgres@db:5432/postgres?sslmode=disable
      - DEBUG=true
      - DOMAIN=scheduler.gkomninos.com
    depends_on:
      - "db"
    restart: "unless-stopped"
  worker:
    build: 
      context: .
    command: "hermeshooks worker"
    environment:
      - DEBUG=true
      - NODE=https://schedulere.gkomninos.com
      - DSN=postgres://postgres:postgres@db:5432/postgres?sslmode=disable
    depends_on:
      - "server"
    restart: "on-failure"

volumes:
  db:
